.groceryList {
  margin: 20px;
  margin-top: 30px;
  scroll-behavior: smooth;
}
.groceryTitle {
  margin: 2px;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  height: 100px;
}

.groceryTitle img {
  width: 100%;
  height: 80px;
  border-radius: 10%;
  object-fit: cover;
  object-position: center;
}
.backgroundActive {
  border: 3px solid rgba(8, 140, 3, 1);
}
