.itemsContainer {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.itemHead {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  max-width: 250px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 8px;
}

.itemImage {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.itemImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.itemTypo {
  display: flex;
  flex-direction: column;
  margin: 5px;
  flex-grow: 1;
}

.itemTypo h1,
.cartTypo h1 {
  font-size: 1rem;
  text-align: left;
  margin: 0;
  margin-bottom: 3px;
}

.itemTypo p {
  margin: 2px;
  padding: 0;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
}

.buttonDiv button {
  background: transparent;
  border: 1px solid #088c03;
  color: rgba(8, 140, 3, 1);
  padding: 8px 12px;
  border-radius: 4px;
}

.buttonDiv p {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  align-self: center;
}
